#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  /* border: solid 1px black; */
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  gap: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card img:hover {
  border: solid 3px #07a0f6;
}

.course-text {
  display: block;
  width: fit-content;
}

#course-details-container {
  margin: 10px;
}
